<!DOCTYPE html>
<html>
<head>
  <title> BBC Challenge </title>
  <link rel="stylesheet" href="stylesheets/index.css">

</head>


<body>
  <h1> BBC Challenge </h1>

  <h2> Current Programme letter: <%= @letter.upcase %></h2>
  <h2> Current Programme page: <%= @page %></h2>

  <% ("a".."z").each do |letter| %>
    <form action="/letter" method="post">
      <input type="hidden" name="letter" value="<%=letter%>" />
      <button class="button_letter" type="submit"> <%= letter.upcase %> </button>
    </form>
  <% end %>

  <br>
  <h3> Programmes: </h3>
  <% @programmes.each do |programme| %>
    <%= programme['title'] %> <br>
  <% end %>

  <% (1..@page_count).each do |page| %>
    <form action="/page" method="post">
      <input type="hidden" name="page" value="<%=page%>" />
      <button class="button_page" type="submit"> <%= page %> </button>
    </form>
  <% end %>

  <h3> Total Pages: <%= @page_count %> </h3>

</body>
</html>
