<h1> BBC Challenge </h1>

<h2> Current Program letter: <%= @letter.upcase %></h2>
<h2> Current Program page: <%= @page %></h2>

<h3> Programmes: </h3>
<% @programmes.each do |programme| %>
  <%= programme['title'] %> <br>
<% end %>

<% ("a".."z").each do |letter| %>
  <form action="/letter" method="post">
    <input type="hidden" name="letter" value="<%=letter%>" />
    <button type="submit"> <%= letter.upcase %> </button>
  </form>
<% end %>
